12/bin/Debug/net6.0/12.dll
12/bin/Debug/net6.0/12.pdb
12/bin/Debug/net6.0/ref/12.dll
12/obj/Debug/net6.0/12.assets.cache
12/obj/Debug/net6.0/12.dll
12/obj/Debug/net6.0/12.GeneratedMSBuildEditorConfig.editorconfig
12/obj/Debug/net6.0/12.pdb
12/obj/Debug/net6.0/ref/12.dll
